matplotlib==3.2.2
nltk==3.2.5
numpy==1.19.5
pandas==1.1.5
pycountry==20.7.3
fairseq==0.10.2
scikit-learn==0.22.2.post1
scipy==1.4.1
sumeval==0.2.2
wget==3.2
yake==0.4.8
pytorch-transformers==1.2.0
tensorflow==2.5.0
keras==2.4.3
imblearn==0.0
spacy==2.1.8
pycountry==20.7.3
yake==0.4.8
beautifulsoup==4.9.3
pysb==0.3.4
